body{
    background-color: #291F1E;
}
.double_box1{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex: 1;
}
.double_box2{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 5%;
    margin-right: 5%;
    flex: 1;
}

.box{
    display: flex;
    margin: 10%;
    justify-content: center;
    align-items: center;
}
.image_box{
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}


.image{
    display: flex;
    height: auto;
    width: 100%;
    border-radius: 10px;
}
@media screen and (max-width: 1000px) {
    .double_box1 {
        flex-direction: column-reverse;
    }
    .double_box2 {
        flex-direction: column-reverse;
    }
  }
